
.App {
    display: flex;
    background-color: white;
  }
  
  .sidebar ul li {
    padding: 10px;
    border-bottom: 1px solid #555;
    cursor: pointer;
  }

  .content {
    flex: 1;
    padding: 20px;
  }